[package]
name = "gen"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.70"
serde = { version = "1.0.160", features = ["derive"] }
toml = "0.9.8"
genco = "0.19.0"
reqwest = "0.12.24"
tokio = { version = "1.27.0", features = ["full"] }
